.header {
  display: block;
  font-size: 0;

  $b: &;

  &__logo {
    fill: white;

    svg {
      height: 18px;
      width: 116px;
    }
  }

  &__container {
    width: 100% !important;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 44px 0;
  }

  &__menu {
    display: flex;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__actions {
    color: $color-grey;
  }

  &__link {
    font-size: 14px;
    line-height: 2;
    transition: color $ease-main;

    &:hover {
      color: $color-main;
    }

    &_button {
      color: $color-main;
      font-weight: 500;

      &:hover {
        color: $color-main-light;
      }
    }

    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}
