.header {
  display: block;
  font-size: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
  transform: translate3d(0, 0, 0);

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    padding-bottom: 100px;
    background: linear-gradient(to bottom, rgba(black, 1), rgba(black, 0));
    transform-origin: left top;
    pointer-events: none;
    transition: transform $ease-main;
  }

  &:hover::before {
    transform: scale(2);
  }

  $b: &;

  &__logo {
    fill: white;

    svg {
      height: 18px;
      width: 116px;
    }
  }

  &__container {
    width: 100% !important;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 44px 0;
  }

  &__menu {
    display: flex;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    transition: opacity $ease-main, transform $ease-main;

    #{$b}.is-popup-active & {
      opacity: 0;
      pointer-events: none;
      transform: translate3d(-50%, calc(-50% - 10px), 0);
    }
  }

  &__actions {
    color: $color-grey;
    display: flex;
    align-items: center;
    transition: opacity $ease-main, transform $ease-main;

    #{$b}.is-popup-active & {
      opacity: 0;
      pointer-events: none;
      transform: translate3d(0, -10px, 0);
    }
  }

  &__link {
    font-size: 14px;
    line-height: 1;
    transition: color $ease-main;
    color: $color-grey;
    fill: $color-grey;
    display: inline-flex;
    align-items: center;

    svg {
      width: 15px;
      height: 10px;
      margin-right: 10px;
    }

    &:hover, &.is-active {
      color: $color-main;
      fill: $color-main;
    }

    &_button {
      color: $color-main;
      font-weight: 500;

      &:hover {
        color: $color-main-light;
      }
    }

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__contacts-block-wrapper {
    display: none;
  }

  &__contacts-block {
    padding: 0;
    text-align: left;

    div {
      &:not(:first-child) {
        padding: 12px 14px 0;
        margin: 8px -14px 0;
        border-top: 1px solid rgba(white, .1);
      }
    }

    h4 {
      color: $color-grey;
      font-weight: 500;
    }

    p {
      font-size: 14px;
      line-height: 1.8;
    }

    svg {
      width: 14px;
      height: 14px;
      margin-right: 10px;
      position: relative;
      top: -1px;
    }

    a {
      transition: color $ease-main, fill $ease-main;
      fill: white;
      display: flex;
      align-items: center;

      &:hover {
        color: $color-main;
        fill: $color-main;
      }
    }
  }

  &__burger {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity $ease-main;
    opacity: 0;
    pointer-events: none;

    #{$b}.is-popup-active & {
      opacity: 1;
      pointer-events: all;
    }
  }
}
