.work {
  display: block;
  position: relative;

  @include rule(height, (xl: 540px, lg: 520px, md: 260px, sm: 200px));

  font-size: 0;

  &_small {
    @include rule(height, (xl: 230px, md: 260px, sm: 200px));
  }

  $b: &;

  &__images {
    @include rule(opacity, (xl: .1, md: .2));

    transition: opacity $ease-main;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;

    #{$b}:hover & {
      opacity: .45;
    }
  }

  &__image {
    width: 100%;

    @include rule(filter, (xl: grayscale(100%), md: grayscale(0)));

    overflow: hidden;
    display: block;
    border-radius: 3px;
    transition: filter $ease-main, transform $ease-main;
    transform: scale(1);
    height: 100%;
    z-index: 1;
    position: relative;

    #{$b}:hover & {
      @include screen('md', min) {
        filter: grayscale(0%);
        transform: scale(1.05);
      }
    }

    img {
      @include fill-img;

      bottom: auto;
    }
  }

  @keyframes flow {
    0% {
      transform: translate3d(0, -20px, 0);
    }
    50% {
      transform: translate3d(0, 20px, 0);
    }
    100% {
      transform: translate3d(0, -20px, 0);
    }
  }

  &__bgimage {
    width: 100%;
    filter: blur(50px);
    overflow: hidden;
    display: block;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity $ease-main;

    .is-ie & {
      display: none;
    }

    #{$b}:hover & {
      @include screen('md', min) {
        opacity: 1;
        animation-name: flow;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-duration: 2s;
      }
    }

    img {
      @include fill-img;
    }
  }

  &__title {
    @include heading-2;

    border-bottom: 2px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
    transition: color $ease-main;

    &_lines {
      display: inline;
      border-color: $color-main;
      position: static;
      color: transparent;

      #{$b}:hover & {
        color: transparent;
      }
    }
  }

  &__lines-wrap {
    display: block;
    transform: scaleX(1) translate3d(0, 0, 0);
    transition: transform $ease-main;
    transform-origin: left center;

    #{$b}:hover & {
      @include screen('md', min) {
        transform: scaleX(0) translate3d(0, 0, 0);
      }
    }
  }

  &__title-wrap {
    width: 100%;
    position: relative;
  }

  &__info {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    z-index: 2;

    @include rule(padding, (xl: 30px 40px 30px, lg: 24px 30px 24px, sm: 24px));

    display: flex;
    border-radius: 3px;
    flex-direction: column;
  }

  &__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-top: -5px;
    flex: 1;
  }

  &__tag {
    font-size: 12px;
    font-weight: 400;
    color: white;
    margin-left: 5px;
    margin-top: 5px;

    @include rule(opacity, (xl: 0, md: 1));

    transition: opacity $ease-main, transform $ease-main;

    @include rule(transform, (xl: translate3d(0, 5px, 0), md: none));

    background-color: $color-main;
    border-radius: 4px;
    padding: 0 7px;
    line-height: 20px;
    text-shadow: 0 1px 2px rgba(black, .5);

    #{$b}:hover & {
      @include screen('md', min) {
        opacity: 1;
        transform: translate3d(0, 0, 0);

        @for $i from 1 to 10 {

          &:nth-of-type(#{$i}) {
            transition-delay: ($i - 1) * .05s;
          }
        }
      }
    }
  }

  &__digits {
    @include rule(margin-left, (xl: 20px, lg: 0));

    flex-shrink: 0;
    display: block;

    @include rule(margin-top, (lg: 16px));
  }

  &__bottom-info {
    margin-top: auto;

    @include rule(display, (xl: flex, lg: block));

    align-items: flex-end;
  }

  &__digit {
    color: white;
    fill: white;
    display: inline-flex;
    align-items: center;
    transition: opacity $ease-main;

    @include rule(opacity, (xl: 0, md: 1));

    #{$b}:hover & {
      opacity: 1;
    }

    svg {
      width: 14px;
      height: 14px;
      margin-right: 7px;
      margin-top: -1px;
      transition: transform $ease-main;

      @include rule(transform, (xl: translate3d(-10px, 0, 0) rotate(-45deg), md: none));
    }

    #{$b}:hover & svg {
      transform: translate3d(0, 0, 0) rotate(0);
    }

    span {
      font-size: 12px;
      font-weight: 700;
      line-height: 1;
    }
  }
}
