.work {
  display: block;
  position: relative;
  height: 540px;

  &_small {
    height: 230px;
  }

  $b: &;

  &__images {
    opacity: .1;
    transition: opacity $ease-main;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;

    #{$b}:hover & {
      opacity: .45;
    }
  }

  &__image {
    width: 100%;
    filter: grayscale(100%);
    overflow: hidden;
    display: block;
    border-radius: 3px;
    transition: filter $ease-main, transform $ease-main;
    transform: scale(1);
    height: 100%;
    z-index: 1;
    position: relative;

    #{$b}:hover & {
      filter: grayscale(0%);
      transform: scale(1.05);
    }

    img {
      @include fill-img;
    }
  }

  @keyframes flow {
    0% { transform: translate3d(0, -20px, 0); }
    50% { transform: translate3d(0, 20px, 0); }
    100% { transform: translate3d(0, -20px, 0); }
  }

  &__bgimage {
    width: 100%;
    filter: blur(50px);
    overflow: hidden;
    display: block;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity $ease-main;

    #{$b}:hover & {
      opacity: 1;
      animation-name: flow;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
      animation-duration: 2s;
    }

    img {
      @include fill-img;
    }
  }

  &__title {
    @include heading-2;

    display: inline;
    border-bottom: 2px solid $color-main;
  }

  &__info {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    z-index: 2;
    padding: 40px;
    display: block;
    border-radius: 3px;
  }
}
