.work {
  display: block;
  position: relative;

  $b: &;

  &__image {
    width: 100%;
    filter: grayscale(0) blur(50px);
    max-height: 500px;
    overflow: hidden;
    display: block;
    opacity: .3;
    border-radius: 3px;
    transition: filter $ease-long;

    #{$b}:hover & {
      filter: grayscale(0%) blur(0);
    }

    img {
      max-width: 100%;
    }
  }

  &__title {
    @include heading-2;

    display: inline;
    border-bottom: 2px solid $color-main;
  }

  &__info {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    z-index: 1;
    padding: 40px;
    display: block;
    border: 1px solid rgba(white, .1);
    border-radius: 3px;
    transition: border-color $ease-long;

    #{$b}:hover & {
      border-color: transparent;
    }
  }
}
