@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов

%link {
  border-bottom: 1px dotted rgba(white, .2);
  transition: color $ease-main, border-color $ease-main, fill $ease-main;
  color: $color-main;
  fill: $color-main;
  display: inline-flex;
  align-items: center;
  line-height: 1;

  svg {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }

  &:hover {
    color: $color-main-light;
    border-color: $color-main-light;
    fill: $color-main-light;
  }
}

@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

body {
  min-height: 100vh;
  background-color: $color-black;
}

.container {
  width: $container-width;

  @include rule(padding-left, (xl: $container-padding, lg: 60px, md: 40px, sm: 24px));
  @include rule(padding-right, (xl: $container-padding, lg: 60px, md: 40px, sm: 24px));

  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
}

.js-sr {
  visibility: hidden;
}
