.checkradio {
  position: relative;
  padding-left: 28px;
  display: inline-block;
  cursor: pointer;
  font-size: 0;

  &:not(:first-child) {
    margin-top: 16px;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    &:checked {

      & + .checkradio__box {
        border-color: $color-main;
        box-shadow: 0 3px 10px 0 rgba($color-main, .3);

        &::before { opacity: 1; }
      }

      & + .checkradio__box + .checkradio__content {
        color: white;
      }
    }
  }

  &__box {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid $color-grey-dark;
    left: 0;
    top: 4px;
    border-radius: 4px;
    transition: border-color $ease-main, box-shadow $ease-main;

    &::before {
      content: '';
      width: 6px;
      height: 6px;
      background-color: $color-main;
      display: block;
      opacity: 0;
      transition: opacity $ease-main;
      border-radius: 2px;

      @include center-image;
    }
  }

  &__content {
    @include text-small;

    display: block;
    color: $color-grey;
    transition: color $ease-main;
  }
}
