.form {
  font-size: 0;
  display: block;

  &__title {
    @include rule(font-size, (xl: 24px, sm: 18px));

    font-weight: 400;
    color: white;
    line-height: 1.5;
    display: block;
    width: 100%;
  }

  &__group {
    border: 2px solid $color-main;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba($color-main, .3);
  }

  &__section {
    @include rule(display, (xl: flex, sm: block));

    &:not(:first-child) {
      @include rule(margin-top, (xl: 60px, sm: 40px));
    }
  }

  &__text {
    @include text-mini;

    color: $color-grey;

    a {
      @extend %link;
    }
  }

  &__col {

    &_left {
      @include rule(width, (xl: 200px, sm: auto));
      @include rule(margin-right, (xl: 80px, sm: 0));

      flex-shrink: 0;

      @include rule(margin-bottom, (sm: 10px));
    }

    &_right {
      flex: 1;
    }
  }

  &__box {

    &:not(:first-child) {
      @include rule(margin-top, (xl: 20px, sm: 10px));
    }
  }

  &__button {
    text-align: right;

    @include rule(margin-top, (xl: 40px, sm: 30px));
  }
}
