.form {
  font-size: 0;
  display: block;

  &__title {
    font-size: 24px;
    font-weight: 400;
    color: white;
    line-height: 1.5;
    display: block;
    width: 100%;
  }

  &__group {
    border: 2px solid $color-main;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba($color-main, .3);
  }

  &__section {
    display: flex;

    &:not(:first-child) {
      margin-top: 60px;
    }
  }

  &__col {
    &_left {
      width: 200px;
      margin-right: 80px;
      flex-shrink: 0;
    }

    &_right {
      flex: 1;
    }
  }

  &__box {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__button {
    text-align: right;
    margin-top: 40px;
  }
}
