.input {
  padding: 42px 16px 16px;
  height: 82px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0;
  min-height: 0;
  background-color: transparent;
  border: 0;
  color: white;
  transition: border-color $ease-main;
  font-weight: 400;
  cursor: text;

  &:focus, &:not(:empty) {
    & + .label {
      color: $color-main;
    }
  }

  &[required] + .label {
    &::after {
      content: '*';
      color: $color-main;
      margin-left: 2px;
    }
  }
}

.textarea {
  @extend .input;

  min-height: 150px;
  resize: none;
}
