.tools {
  display: block;

  @include rule(margin-top, (xl: 100px, lg: 80px, sm: 60px));

  $b: &;

  .grid {
    align-items: center;
  }

  &__texts {
    @include rule(order, (lg: -1));
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;

    @include rule(margin-left, (xl: -30px, md: -25px, sm: -15px));
    @include rule(margin-right, (xl: -30px, md: -25px, sm: -15px));

    flex-wrap: wrap;
  }

  &__tool {
    @include rule(margin, (xl: 20px 30px, md: 15px 25px, sm: 10px 15px));
    @include rule(opacity, (xl: .2, md: .5));
    
    filter: grayscale(100%);
    transform: scale(.9);
    transition: opacity $ease-main, filter $ease-main, transform $ease-main;

    &:hover {
      opacity: 1;
      filter: grayscale(0%);
      transform: scale(1);
    }

    img {
      @include rule(max-height, (xl: 55px, md: 45px, sm: 35px));
      @include rule(max-width, (xl: 100px, md: 90px, sm: 100px));
    }
  }

  &__text {
    @include rule(font-size, (xl: 30px, md: 24px, sm: 20px));

    line-height: 1.5;
    font-weight: 400;

    @include rule(text-align, (xl: left, lg: center));

    span {
      color: $color-main;
      font-weight: 500;
    }
  }
}
