.footer {
  display: block;
  fill: $color-grey-dark;
  color: $color-grey-dark;

  @include rule(padding, (xl: 90px 0 100px, lg: 60px 0, md: 20px 0 40px, sm: 5px 0 30px));
  @include rule(border-top, (sm: 1px solid rgba(white, .1)));

  font-size: 0;

  $b: &;

  .container {
    display: flex;

    @include rule(flex-wrap, (md: wrap));
  }

  &__title {
    @include heading-3;
  }

  &__list {
    @include rule(margin-top, (xl: 40px, sm: 20px));
  }

  &__col {
    @include rule(flex, (md: 1, sm: 0 auto));
    @include rule(padding-top, (md: 40px, sm: 24px));
    @include rule(width, (sm: 100%));

    &:not(:first-child) {
      @include rule(margin-left, (xl: 120px, md: 80px, sm: 0));
      @include rule(border-top, (sm: 1px solid rgba(white, .1)));
      @include rule(margin-top, (sm: 24px));
    }

    &_info {
      @include rule(flex, (xl: 1, md: 1 0 auto));
      @include rule(text-align, (xl: right, md: left));
      @include rule(width, (md: 100%));
      @include rule(margin-left, (md: 0 !important));
      @include rule(padding-top, (sm: 40px));
    }
  }

  &__item {
    @include text-medium;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 20px, sm: 14px));
    }
  }

  &__link {
    color: $color-grey-dark;
    fill: $color-grey-dark;
    transition: color $ease-main, fill $ease-main;

    svg {
      width: 30px;
      height: 30px;
      margin-top: 10px;
    }

    &:hover {
      color: $color-main;
      fill: $color-main;
    }
  }

  &__logo {

    svg {
      @include rule(width, (xl: 123px, sm: 86px));
      @include rule(height, (xl: 20px, sm: 14px));
    }
  }

  &__copyright {
    @include rule(margin-top, (xl: 40px, sm: 24px));
    @include text-mini;
  }
}
