mixin footer()
  +b.footer&attributes(attributes)
    .container
      each section in getData('footer')
        +e.col
          +e.H4.title!= section.title
          +e.UL.list
            each item in section.links
              if !item.github
                +e.LI.item
                  +e.A.link(href=item.href)!= item.name
              else
                +e.LI.item
                  +e.A.link(href="https://github.com/verstaburo" target="_blank")
                    +icon('github')


      +e.col._info
        +e.logo
          +icon('logo')

        +e.copyright
          p © Versta, Бюро фронтенд-разработки, 2016-2019
          p ИП Горохов Г. В., ОГРНИП 314632005700037
