.section {
  display: block;
  padding: 100px 0 130px;
  position: relative;

  &:not(:first-child) {
    border-top: 1px solid rgba(white, .1);
  }

  $b: &;

  &_bg {
    border-top: 0 !important;
  }

  &_center {
    text-align: center;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
    opacity: .3;
    filter: grayscale(100%);

    img {
      @include fill-img;
    }
  }

  &__header {

  }

  &__content {
    &:not(:first-child) {
      margin-top: 80px;
    }
  }

  &__title {
    @include heading-1;
  }

  &__pretitle {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    color: $color-main;
    line-height: 1.2;
  }

  &__text {

  }
}
