mixin section()
  +b.section&attributes(attributes)
    .container
      block

mixin section-header(title, pretitle)
  +e.header&attributes(attributes)
    if pretitle
      +e.P.pretitle.js-sr.js-sr_1!= pretitle

    if title
      +e.H2.title.js-sr.js-sr_1!= title

    if text
      +e.P.text.js-sr.js-sr_1!= text

    block

mixin section-content()
  +e.content&attributes(attributes)
    block
