.section {
  display: block;

  @include rule(padding, (xl: 100px 0 130px, lg: 70px 0 80px, sm: 40px 0 50px));

  position: relative;

  &:not(:first-child) {
    border-top: 1px solid rgba(white, .1);
  }

  $b: &;

  &_bg {
    border-top: 0 !important;
  }

  &_about {
    @include rule(text-align, (sm: center));
  }

  &_center {
    text-align: center;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
    opacity: .3;
    filter: grayscale(100%);

    img {
      @include fill-img;
    }
  }

  &__content {

    &:not(:first-child) {
      @include rule(margin-top, (xl: 80px, lg: 60px, sm: 40px));
    }
  }

  &__title {
    @include heading-1;
  }

  &__pretitle {
    @include rule(font-size, (xl: 16px, sm: 14px));

    font-weight: 500;
    margin-bottom: 10px;
    color: $color-main;
    line-height: 1.2;
  }
}
