extends ../../layouts/default

block head
  - var pageTitle = 'Versta — Front-end Development Bureau'

block content
  +header
  +offer(getData('offer').index)
  +section#works
    +section-header('Our works', 'What we do')
    +section-content
      +grid
        +col({xl: 4})
          +work('Credit Europe Bank', 'assets/images/works/case1.png')(href="#")
        +col({xl: 4})
          +work('MyBI Business Analytics', 'assets/images/works/case2.png')(href="#")
        +col({xl: 4})
          +grid
            +col({xl: 12})
              +work('Gleb Gorokhov Website', 'assets/images/works/case3.png')(href="#")._small
            +col({xl: 12})
              +work('Gleb Gorokhov Website', 'assets/images/works/case3.png')(href="#")._small
        +col({xl: 4})
          +grid
            +col({xl: 12})
              +work('Gleb Gorokhov Website', 'assets/images/works/case3.png')(href="#")._small
            +col({xl: 12})
              +work('Gleb Gorokhov Website', 'assets/images/works/case3.png')(href="#")._small
        +col({xl: 4})
          +work('Credit Europe Bank', 'assets/images/works/case1.png')(href="#")
        +col({xl: 4})
          +work('MyBI Business Analytics', 'assets/images/works/case2.png')(href="#")
      +action('Have a project?', 'Get estimation of cost and terms within an hour', 'Send a project')

  +section._center#partners
    +section-header('We are trusted by top<br> Russian Digital Agencies', 'Our clients')
    +section-content
      +agencies

  +section#about
    +section-header('Quality focused PSD/Figma/Sketch to HTML/CSS/JS conversion and full front-end development', 'Our competence')
    +section-content
      +grid
        each item in getData('options')
          +col({xl: 4})
            +card(item.image, item.title, item.text)

      +tools

  +section
    +cta

  +footer

