.button {
  display: inline-block;
  padding: 0 24px;
  border: 2px solid $color-main;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  height: 50px;
  line-height: 46px;

  @include rule(font-size, (xl: 16px, sm: 14px));

  font-weight: 700;
  color: $color-main;
  border-radius: 100px;
  box-shadow: 0 4px 30px 0 rgba($color-main, .3);
  transition: color $ease-main, border-color $ease-main, box-shadow $ease-main, background-color $ease-main, fill $ease-main;
  fill: $color-main;

  svg {
    width: 21px;
    height: 12px;
    vertical-align: middle;
    margin-left: 10px;
    transition: transform $ease-main;
  }

  &_big {
    @include rule(height, (xl: 64px, sm: 50px));
    @include rule(padding, (xl: 0 34px, sm: 0 24px));
    @include rule(line-height, (xl: 60px, sm: 46px));
  }

  &:disabled, &.is-disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &:hover, &.is-active {
    color: $color-main-light;
    border-color: $color-main-light;
    box-shadow: 0 8px 45px 0 rgba($color-main, .3);
    fill: $color-main-light;

    svg {
      transform: translate3d(8px, 0, 0);
    }
  }

  &_filled {
    background-color: $color-main;
    text-shadow: 0 1px 2px rgba($color-black, .15);
    color: $color-white;
    fill: $color-white;

    svg {
      filter: drop-shadow(0 1px 2px rgba($color-black, .15));
    }

    &:hover {
      background-color: $color-main-light;
      color: $color-white;
      fill: $color-white;
    }
  }

  &_bottom {
    @include rule(margin-top, (xl: 60px, md: 40px, sm: 30px));
  }
}

