mixin cta()
  +b.cta&attributes(attributes)
    +e.H2.title Have a project? Get estimation of cost and terms within an hour
    +e.P.text Get rid of a headache in the form of unqualified contractors
    +button(false, true)(href="#")._big.__button Get cost and terms for my project
