mixin cta()
  +b.cta&attributes(attributes)
    +e.H2.title.js-sr.js-sr_1 Есть проект? Получите оценку стоимости и сроков в течение суток
    +e.P.text.js-sr.js-sr_1 Избавьтесь от головной боли из-за безответственных подрядчиков
    +button(false, true)(href="#")._big.__button.js-sr.js-sr_1 Получить оценку проекта
