.cta {
  display: block;
  text-align: center;

  @include rule(padding-top, (xl: 60px, lg: 30px, sm: 0));

  $b: &;

  &__title {
    @include heading-0;
  }

  &__text {
    @include rule(margin-top, (xl: 60px, lg: 40px, sm: 24px));

    color: $color-grey;

    @include text;
  }

  &__button {
    @include rule(margin-top, (xl: 60px, lg: 40px));
  }
}
