.captcha {
  display: block;

  $b: &;
}

.grecaptcha-badge {
  z-index: 9999999999;
  opacity: 0;
  transition: opacity $ease-main;
  pointer-events: none;

  &.is-visible {
    opacity: 1;
    pointer-events: all;
  }
}
