mixin popups()
  +b.popups&attributes(attributes)
    block

mixin popup(heading, description)
  +b.popup&attributes(attributes)
    block


mixin popup-start()
  +popup()#start
    +page((en ? 'Start your project' : 'Начать проект'), (en ? 'Fill in the contact data and information about your project and order an accurate estimate as quickly as possible.' : 'Заполните контактную информацию и сведения о проекте и получите точную оценку так быстро, насколько это возможно'))._small
      +form(action="#" method="post" enctype="multipart/form-data" data-parsley-validate).js-form
        +e.section
          +e.col_left
            +e.H3.title!= en ? 'Project Information' : 'Информация о проекте'

          +e.col._right
            +e.group
              +inputbox
                +select(name="service" type="text")
                  option(value=(en ? 'Front-end (PSD to HTML)' : 'Верстка (PSD to HTML)'))!= en ? 'Front-end (PSD to HTML)' : 'Верстка (PSD to HTML)'
                  option(value=(en ? 'Letter template (PSD to E-mail)' : 'Верстка письма (PSD to E-mail)'))!= en ? 'Letter template (PSD to E-mail)' : 'Верстка письма (PSD to E-mail)'
                +label!= en ? 'Service' : 'Услуга'

              +inputbox
                +input(name="deadline" type="text")
                +label!= en ? 'Deadline' : 'Дедлайн'

              +inputbox
                +textarea(name="brief" type="text" required)
                +label!= en ? 'Comments/Project Description' : 'Комментарии / Описание проекта'

        +e.section
          +e.col_left
            +e.H3.title!= en ? 'Contact Information' : 'Контактная информация'

          +e.col._right
            +e.group
              +inputbox
                +input(name="name" type="text" required)
                +label!= en ? 'Name' : 'Имя'

              +inputbox
                +input(name="email" type="email" required)
                +label!= en ? 'E-mail' : 'E-mail'

              +inputbox
                +input(name="phone" type="text")
                +label!= en ? 'Skype/Telegram/Phone' : 'Skype / Telegram / Телефон'

              +inputbox
                +input(name="country" type="text")
                +label!= en ? 'Country' : 'Страна'

        +e.section
          +e.col_left
            +e.H3.title!= en ? 'Project files, documents, technical specifications, etc.' : 'Файлы проекта, документы, ТЗ и т.д.'

          +e.col._right
            +dropzone.js-dropzone
              .dz-message!= en ? 'Drag files or click here' : 'Перетащите файлы или нажмите здесь'

            +e.box
              +e.P.text!= en ? 'We guarantee complete confidentiality for all requests' : 'Мы гарантируем полную конфиденциальность для всех запросов'

            +e.box
              +checkbox('personal', 'personal', false, true)!= en ? 'Hereby I authorize processing of my personal data and accept the <a href="policy.html" target="_blank">Privacy Policy</a>.' : 'Разрешаю обработку моих персональных данных и принимаю <a href="policy.html" target="_blank">Политику конфиденциальности</a>.'

            +e.button
              #js-captcha
              +button('button', true)(type="submit")._big!= en ? 'Order estimation' : 'Получить оценку'

  mixin popup-success()
    +popup()#success
      +page((en ? 'Your request has been sent successfully!' : 'Ваш запрос успешно отправлен!'), (en ? 'Thank you for your trust. We will contact you as soon as we see your letter.' : 'Спасибо за доверие, мы свяжемся с вами как только увидим письмо.'))._small
        +content-zone
          img(src="assets/images/dog_3.webp")
          p!= en ? 'You may choose not to wait and contact us by using details below.' : 'Вы можете не ждать и связаться с нами сами по контактам ниже.'
          p!= en ? 'Contact us from Monday through Friday, 9:00-18:00 (GMT +4, MSK +1).' : 'Мы на связи с понедельника по пятницу, 9:00-18:00 (GMT +4, МСК +1).'
          ul
            li!= en ? '<a href="tel:+7 (8482) 65-00-38">+7 (8482) 65-00-38</a> (Russia)' : '<a href="tel:+7 (8482) 65-00-38">+7 (8482) 65-00-38</a> (Россия, Тольятти)'
            li
              a(href="mailto:hello@verstaburo.com")
                +icon('mail')
                span hello@verstaburo.com
            li
              a(href="https://t.me/ververy")
                +icon('telegram')
                span @ververy
        +button('button', true)(type="button" data-fancybox-close)._big._bottom!= en ? 'Go back to the main page' : 'Вернуться на главную'
