@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  display: none;
}

.fancybox-close-small:focus::after { outline: none; }

.fancybox-enabled { overflow: initial; }

.fancybox-button {
  background: transparent;
}

.fancybox-button, .fancybox-button:link, .fancybox-button:visited {
  color: white;
  transition: color $ease-main;
}

.fancybox-button:hover {
  color: $color-main;
}

.fancybox-bg {
  background: black;
}

.fancybox-toolbar {
  right: 20px;
  top: 20px;
  display: none;

  .fancybox-button {
    margin-left: 10px;
  }
}

.fancybox-slide--html {
  padding: 0;
}

.fancybox-slide--html .fancybox-close-small {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 10;
  padding: 160px 0 100px;
  color: white;

  &_small .container {
    width: 900px;
  }

  &__title {
    @include heading-0;
  }

  &__texts {
    margin-bottom: 80px;
  }

  &__description {
    margin-top: 20px;
    color: $color-grey;

    @include text;
  }
}
