@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  display: none;
}

.fancybox-close-small:focus::after { outline: none; }

.fancybox-enabled { overflow: initial; }

.fancybox-button {
  background: transparent;
}

.fancybox-button, .fancybox-button:link, .fancybox-button:visited {
  color: white;
  transition: color $ease-main;
}

.fancybox-button:hover {
  color: $color-main;
}

.fancybox-bg {
  background: black;
}

.fancybox-toolbar {
  right: 20px;
  top: 20px;
  display: none;

  .fancybox-button {
    margin-left: 10px;
  }
}

.fancybox-slide--html {
  padding: 0;
}

.fancybox-slide--html .fancybox-close-small {
  display: none;
}

.fancybox-container {
  transition-duration: 0s !important;
  opacity: 1 !important;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: black;
  z-index: 10;
  padding: 0 0 20px;
  color: white;

  .page__title, .page__description, .page__content {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
    transition: transform .8s cubic-bezier(.6, .2, .1, 1), opacity .8s cubic-bezier(.6, .2, .1, 1);
  }

  &.is-animated {

    .page__description {
      transition-delay: .1s;
    }

    .page__content {
      transition-delay: .2s;
    }

    .page__title, .page__description, .page__content {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
}
