/*
Как подключать шрифт

Миксин:
@mixin font-face($name, $style, $weight, $fontname)

Пример использования:
@include font-face('Corbel', normal, 700, 'CorbelBold')

Соответствие письменного названия жирности числовому значению:
100 — Thin
200 — Extra Light, Ultra Light
300 — Light
400 — Normal, Book, Regular (стандартный)
500 — Medium
600 — Semi Bold, Demi Bold
700 — Bold
800 — Extra Bold, Ultra Bold
900 — Black, Heavy
*/

@include font-face('Muller', normal, 300, 'MullerLight')
  @include font-face('Muller', normal, 400, 'MullerRegular')
  @include font-face('Muller', normal, 500, 'MullerMedium')
  @include font-face('Muller', normal, 700, 'MullerBold')
