// Текстовые стили, используемые на сайте

@mixin heading-0 {
  font-size: 72px;
  line-height: 1.2;
  font-weight: 500;
}

@mixin heading-1 {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 500;
}

@mixin heading-2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5;
}

@mixin heading-3 {
  font-size: 20px;
  line-height: 1.7;
  font-weight: 500;
}

@mixin heading-4 {
  @include heading-1;
}

@mixin heading-5 {
  @include heading-1;
}

@mixin heading-6 {
  @include heading-1;
}

@mixin text {
  font-size: 20px;
  line-height: 1.7;
  font-weight: 300;
}

@mixin text-small {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
}

@mixin text-medium {
  font-size: 14px;
  line-height: 1.8;
  font-weight: 300;
}

@mixin text-mini {
  font-size: 12px;
  line-height: 2;
  font-weight: 300;
}
