// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 1400px; // Максимальная ширина контейнера контента
$container-padding: 80px; // Отступы слева и справа у контейнера
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 12; // Количество колонок в сетке
$grid-gap: 80px; // Расстояние между колонками
$grid-gap-vertical: 80px; // Расстояние между строками в сетке
$grid-col-width: $grid-container-width/$grid-cols; // Ширина одной колонки
$breakpoints: (
  'xl': 1920px,
  'lg': 1280px,
  'md': 1024px,
  'sm': 768px,
  'xs': 480px
);

// ##########
// Цвета
// ##########
$color-main: #c1ad78; // Основной фирменный цвет
$color-main-light: #e3c26a;
$color-black: black;
$color-white: white;
$color-grey: #ababab;
$color-grey-light: #777;
$color-grey-dark: #444;
$color-red: #ed144c;

$color-basic: $color-white; // Основной цвет текста (применяется к body)
$color-placeholder: $color-grey; // Основной цвет для placeholder
$color-input: $color-black; // Основной цвет input, select и textarea
$color-border: #ccc; // Основной цвет границ таблиц, секций

// ##########
// Transitions
// ##########
$ease-main: .2s ease;
$ease-long: .3s ease;

// ##########
// Шрифты
// ##########
$font-main: 'Muller', sans-serif; // Основной шрифт сайта
$font-second: 'Oswald', sans-serif; // Основной шрифт сайта
