.agencies {
  display: block;

  $b: &;

  &__agency {
    @include rule(max-width, (xl: 200px, lg: 140px, sm: 100px));
    @include rule(max-height, (xl: 70px, lg: 50px, sm: 40px));
  }

  &__slider {

    .swiper-wrapper {
      align-items: center;
    }

    .swiper-slide {
      transition: opacity $ease-long, filter $ease-long, transform $ease-long;
      opacity: .2;
      transform: scale(.6) translate3d(0, 0, 0);
      cursor: pointer;

      @include performance();

      &:hover {
        opacity: .5;
      }
    }

    .swiper-slide-active {
      opacity: 1 !important;
      transform: scale(1) translate3d(0, 0, 0);
    }
  }

  &__content-slider {
    margin-top: 25px;

    .swiper-slide {
      opacity: 0;
      transition: opacity $ease-main;
    }

    .swiper-slide-active {
      opacity: 1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    fill: $color-main;
    color: $color-main;
    transition: fill $ease-main, color $ease-main;

    &:hover {
      color: $color-main-light;
      fill: $color-main-light;
    }

    svg {
      @include rule(margin-right, (xl: 15px, sm: 10px));
      @include rule(width, (xl: 26px, sm: 20px));
      @include rule(height, (xl: 26px, sm: 20px));
    }

    span {
      font-size: 14px;
      line-height: 1;
    }
  }

  &__text {
    @include text;
    @include rule(margin-top, (xl: 40px, lg: 30px, sm: 24px));

    max-width: 800px;
    width: 100%;
    color: $color-grey;
  }

  &__letter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-main;

    @include rule(margin-top, (xl: 40px, sm: 24px));

    box-shadow: 0 4px 30px 0 rgba($color-main, .3);
    transition: color $ease-main, border-color $ease-main, box-shadow $ease-main, background-color $ease-main, fill $ease-main;
    padding: 10px 25px 10px 10px;
    border: 2px solid $color-main;
    border-radius: 10px;

    &:hover {
      color: $color-main-light;
      border-color: $color-main-light;
      box-shadow: 0 8px 45px 0 rgba($color-main, .3);

      img {
        transform: scale(.9);
      }
    }

    img {
      @include rule(width, (xl: 45px, sm: 30px));

      border-radius: 3px;
      transition: transform $ease-main;
    }

    span {
      margin-left: 25px;
      font-size: 16px;
      font-weight: 500;
      text-align: left;
    }
  }
}
