.agencies {
  display: block;

  $b: &;

  &__agency {
    max-width: 200px;
    max-height: 100px;
  }

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    transition: opacity $ease-long, filter $ease-long, transform $ease-long;
    filter: blur(5px);
    opacity: .3;
    transform: scale(.6) translate3d(0, 0, 0);
    cursor: pointer;

    @include performance();

    &:hover {
      opacity: .5;
    }
  }

  .swiper-slide-active {
    filter: blur(0px);
    opacity: 1 !important;
    transform: scale(1) translate3d(0, 0, 0);
  }
}
