$height: 20px;
$width: 24px;

.burger-button {
  display: block;
  height: $height;
  width: $width;
  position: relative;
  cursor: pointer;

  $b: &;

  &::before, &::after {
    content: '';
  }

  span, &::before, &::after {
    width: 100%;
    height: 2px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    transition: transform $ease-main, opacity $ease-main, background-color $ease-main;
  }

  &:hover {
    span, &::before, &::after {
      background-color: $color-main;
    }
  }

  &::before {
    transform: translate3d(0, -($height / 2 - 1px), 0);

    .is-popup-active &, #{$b}.is-active & {
      transform: translate3d(0, 0, 0) rotate(-45deg);
    }
  }

  &::after {
    transform: translate3d(0, ($height / 2 - 1px), 0);

    .is-popup-active &, #{$b}.is-active & {
      transform: translate3d(0, 0, 0) rotate(45deg);
    }
  }

  span {
    .is-popup-active &, #{$b}.is-active & {
      transform: translate3d(-10px, 0, 0);
      opacity: 0;
    }
  }
}
