.action {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  background-color: white;
  color: $color-black;
  border-radius: 3px;

  &:not(:first-child) {
    margin-top: 80px;
  }

  &__title {
    @include heading-2;

    font-weight: 700;
  }

  &__text {
    @include text;

    color: $color-grey;
  }

  $b: &;
}
