.action {
  @include rule(display, (xl: flex, sm: block));

  justify-content: space-between;
  align-items: center;

  @include rule(text-align, (sm: center));
  @include rule(padding, (xl: 30px 40px, lg: 24px 30px, sm: 24px));

  background-color: white;
  color: $color-black;
  border-radius: 3px;
  position: relative;

  &::before, &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 10px;
    right: 10px;
    height: 8px;
    border-radius: 0 0 3px 3px;
    background-color: rgba($color-white, .5);
    transition: transform $ease-main;
    transform-origin: center top;
  }

  &::after {
    margin-top: 8px;
    left: 24px;
    right: 24px;
    background-color: rgba($color-white, .25);
    height: 6px;
  }

  &:hover {

    &::before {
      transform: scaleY(1.5);
    }

    &::after {
      transform: translate3d(0, 4px, 0) scaleY(1.5);
    }
  }

  &:not(:first-child) {
    @include rule(margin-top, (xl: 80px, md: 50px, sm: 40px));
  }

  &__title {
    @include heading-2;

    font-weight: 700;
  }

  &__text {
    @include text;

    color: $color-grey-light;

    @include rule(margin-top, (sm: 10px));
    @include rule(padding-bottom, (sm: 20px));
  }

  $b: &;
}
