.content-zone {
  display: block;
  color: $color-grey;

  @include text-small;

  $b: &;

  a {
    @extend %link;
  }

  h1, h2, h3, h4, h5, h6 {
    @include heading-2;

    color: white;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 60px, sm: 40px));
    }

    &:not(:last-child) {
      @include rule(margin-bottom, (xl: 40px, md: 30px, sm: 20px));
    }
  }

  p {

    &:not(:first-child) {
      @include rule(margin-top, (xl: 20px, sm: 12px));
    }
  }

  ol, ul, table, img {

    &:not(:first-child) {
      @include rule(margin-top, (xl: 40px, sm: 30px));
    }

    &:not(:last-child) {
      @include rule(margin-bottom, (xl: 40px, sm: 30px));
    }
  }

  img {
    max-width: 100%;
    border-radius: 3px;
    display: block;
  }

  ol, ul {

    li {
      position: relative;
      padding-left: 30px;

      &:not(:first-child) {
        margin-top: 10px;
      }

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        color: $color-main;
        font-weight: 500;
      }
    }
  }

  ul {

    li::before {
      content: '—';
    }
  }

  ol {
    counter-reset: list;

    li {
      counter-increment: list;

      &::before {
        content: counter(list) '.';
      }
    }
  }

  table {
    @include rule(display, (sm: block));
    @include rule(padding-left, (sm: 20px));
    @include rule(border-left, (sm: 1px solid $color-main));

    tbody {
      @include rule(display, (sm: block));
      @include rule(width, (sm: 100%));
    }

    b {
      font-weight: 400;
      color: white;
    }

    td {
      @include rule(display, (sm: block));
      @include rule(width, (sm: 100%));

      &:not(:last-child) {
        @include rule(padding-right, (xl: 40px, sm: 0));
        @include rule(padding-bottom, (sm: 10px));
      }
    }

    tr {
      @include rule(display, (sm: block));
      @include rule(width, (sm: 100%));

      &:not(:first-child) {
        @include rule(padding-top, (sm: 20px));
        @include rule(border-top, (sm: 1px solid $color-main));

        td {
          @include screen('sm', min) {
            padding-top: 30px;
            border-top: 1px solid $color-main;
          }
        }
      }

      &:not(:last-child) {
        @include rule(padding-bottom, (sm: 20px));

        td {
          @include screen('sm', min) {
            padding-bottom: 30px;
          }
        }
      }
    }
  }
}
