.drop-zone {
  display: block;

  @include rule(padding, (xl: 40px, sm: 20px));

  border: 2px dotted $color-grey-dark;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 20px 0 rgba($color-main, .2) inset;
  transition: border-color $ease-main, box-shadow $ease-main;
  cursor: pointer;

  @include text-small;

  $b: &;

  &.dz-drag-hover, &:hover {
    border-color: $color-main;
    box-shadow: 0 4px 25px 0 rgba($color-main, .25) inset;
  }
}

.dz-error-message {
  display: none;

  .dz-error & {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 12px;
    line-height: 1;
    color: $color-red;
    font-weight: 500;
    margin-top: 8px;

    &::before {
      content: 'Uploading error';
    }

    span {
      display: none;
    }
  }
}

.dz-message {

  &:not(:last-child) {
    @include rule(margin-bottom, (xl: 30px, sm: 20px));
  }
}

.dz-preview {
  border-radius: 10px;
  border: 1px solid rgba(white, .05);
  box-sizing: border-box;
  padding: 10px 20px 10px 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  cursor: auto;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.dz-filename {
  flex: 1;
  overflow: hidden;
  text-align: left;

  @include text-medium;

  line-height: 1.4;

  span {
    word-break: break-word;
    display: block;
  }
}

.dz-size {
  @include text-mini;

  margin-top: 8px;
  font-weight: 300;
  flex-shrink: 0;
  color: $color-grey;
  line-height: 1;
}

.dz-image {
  @include rule(width, (xl: 40px, sm: 30px));
  @include rule(height, (xl: 40px, sm: 30px));
  @include rule(border-radius, (xl: 15px, sm: 10px));

  overflow: hidden;
  font-size: 0;
  margin-right: 14px;
  position: relative;
  z-index: 1;
  display: none;

  .dz-image-preview & {
    display: block;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.dz-details {
  position: relative;
  z-index: 1;
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}

.dz-progress {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 9px;
  overflow: hidden;

  span {
    height: 100%;
    display: block;
    width: 0;
    background-color: rgba(white, .05);
    transition: width $ease-main;
  }
}

.dz-success-mark, .dz-error-mark {
  font-size: 0;
  position: absolute;
  right: -6px;
  top: -6px;
  transition: opacity $ease-main;
  pointer-events: none;
  opacity: 0;

  svg {
    width: 16px;
    height: 16px;
  }
}

.dz-success-mark {

  svg path {
    fill: $color-main !important;
  }
}

.dz-error-mark {

  svg path {
    fill: $color-red !important;
  }
}

.dz-preview {

  &.dz-error {

    .dz-error-mark {
      opacity: 1;
    }
  }

  &.dz-success {

    .dz-success-mark {
      opacity: 1;
    }
  }
}

.dz-remove {
  font-size: 10px;
  font-weight: 400;
  display: block;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: -6px;
  right: 20px;
  height: 16px;
  line-height: 16px;
  background: $color-main;
  padding: 0 7px;
  box-shadow: 0 3px 7px 0 rgba($color-main, .3);
  border-radius: 50px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .7);
  transition: background $ease-main, box-shadow $ease-main, opacity $ease-main, transform $ease-main;

  @include rule(opacity, (xl: 0, md: 1));
  @include rule(transform, (xl: translate3d(-5px, 0, 0), md: none));

  &:hover {
    background: $color-main-light;
    box-shadow: 0 4px 9px 0 rgba($color-main, .35);
  }

  .dz-preview:hover & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
