.offer {
  display: block;
  text-align: left;
  padding: 100px 0 150px;

  $b: &;

  &__title {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    @include heading-0;
  }

  &__text {
    color: $color-grey;

    @include text;

    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  &__button {
    &:not(:first-child) {
      margin-top: 45px;
    }
  }

  &__image {
    margin-bottom: -100px;
    position: relative;
  }
}
