.offer {
  display: block;

  @include rule(text-align, (xl: left, md: center));
  @include rule(padding, (xl: 210px 0 150px, lg: 160px 0 80px, md: 130px 0 80px, sm: 100px 0 50px));

  $b: &;

  &__title {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    @include heading-0;
  }

  &__imagecol {
    @include rule(order, (md: -1));
    @include rule(display, (sm: none));
  }

  &__text {
    color: $color-grey;

    @include text;

    br {
      @include rule(display, (sm: none));
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 40px, md: 30px, sm: 24px));
    }
  }

  &__button {

    &:not(:first-child) {
      @include rule(margin-top, (xl: 45px, sm: 24px));
    }
  }

  &__image {
    margin-bottom: -100px;
    position: relative;
  }
}
