include _externalIncludes
include _internalIncludes

doctype html
html(lang= en ? 'en' : 'ru')
  include head
  body
    +header.js-sr.js-sr_header

    +b.MAIN.main
      block content

    +footer

    +popups
      +popup-start
      +popup-success

    script(src='assets/scripts/app.min.js')
    script(src='assets/scripts/main.js')
